@using Toast.Core.Commands
@using Toast.Core.Commands.CommandData
@using Toast.Server.Api
@using Toast.Server.Data
@inject CommandService commandService;

<h6>Command ChangeSettings</h6>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="PollingInterval">Polling Interval, seconds:</span>
  </div>
  <input type="number" class="form-control" placeholder="PollingInterval" aria-label="PollingInterval" aria-describedby="PollingInterval" @bind-value="@_data.PollingInterval" @bind-value:event="oninput" @onchange="NotifyParent" @bind-value:after="NotifyParent">
</div>
<div class="input-group input-group-sm mb-3">
  <RemoteServerList @bind-Data=@_data.AddServers Header="Добавляемые сервера" @bind-Data:after="NotifyParent" />
</div>
<div class="input-group input-group-sm mb-3">
  <RemoteServerList @bind-Data=@_data.RemoveServers Header="Удаляемые сервера" @bind-Data:after="NotifyParent" />
</div>
@if ( ChildContent != null )
{
  <hr />
  @ChildContent
}

<textarea class="form-control" rows="5" cols="500" @bind="@log"></textarea>


@code {

  [Parameter]
  public ChangeSettingsData? Data { get; set; }

  // Шаблон имени строго: ИмяПараметра + Changed
  [Parameter]
  public EventCallback<ChangeSettingsData> DataChanged { get; set; }

  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  ChangeSettingsData _data = new();

  string log = string.Empty;

  protected override void OnParametersSet()
  {
    base.OnParametersSet();

    log += "\n" + $">>> OnParametersSet:";
    log += "\n" + $" - Data    : {Data};";
    log += "\n" + $" - _data   : {_data};";
    log += "\n" + $" - Svc.Data: {commandService.Current.ChangeSettingsData};";
    log += "\n" + $">>>";

    _data = Data.Clone() ?? new();

    _data.AddServers ??= [];
    _data.RemoveServers ??= [];
    if ( _data.PollingInterval < 5 )
      _data.PollingInterval = 5;

    log += "\n" + $"<<< OnParametersSet:";
    log += "\n" + $" - _data   : {_data};";
    log += "\n" + $"<<<";
  }

  private async Task NotifyParent()
  {
    log += "\n" + $">>>> NotifyParent:";
    log += "\n" + $" - Data    : {Data};";
    log += "\n" + $" - _data   : {_data};";
    log += "\n" + $" - Svc.Data: {commandService.Current.ChangeSettingsData};";
    log += "\n" + $">>>";

    // Передаем сам объект. Так как свойства Name/Phone уже изменились
    // через @bind, родитель сразу получит свежие данные.
    await DataChanged.InvokeAsync( _data );

    log += "\n" + $"<<< NotifyParent:";
    log += "\n" + $" - Data    : {Data};";
    log += "\n" + $" - _data   : {_data};";
    log += "\n" + $" - Svc.Data: {commandService.Current.ChangeSettingsData};";
    log += "\n" + $"<<<";
  }

  void LogFromRS(string msg)
  {
    log += msg;
  }
}
